$brown: #4F3026;
$red: #992023;
$orange: #E05F18;
$pink: #E6AE98;
$green: #4FB87B;

$font: 'Sawarabi Mincho', sans-serif;

@mixin hexFont($fontsize){
  color: $pink;
  font-size: $fontsize;
  text-shadow:
  0 0 5px black,
  1px 0 20px $pink;
}

.accent {
  color: $red;
}
