@media screen and (min-width: 1000px) {

  header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 15%;
  }

  main {
    padding-top: 5%;
    padding-bottom: 3%;
  }

  footer {
    height:12%;
    .book-a-room {
      height: 75%;
    }
  }

  .title{
    grid-template:
      "welcome overlook hotel guest" 100%
      /33% 34% 33%;
  }

  .welcome, .overlook, .hotel {
    align-self: center;
    @include hexFont(45px);
  }

  .sub-header {
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 9%;
    width: 100%;
  }

  .log-in {
    height: 35%;
    top: 50%;
    .book-a-room {
      font-size: 3vw;
    }
  }

  .photo {
    object-fit: contain;
    width: 100%;
  }

  .greeting {
    text-align: end;
    font-size: 25px;
    padding: 10px 30px 10px 0px;
    width: 50%
  }

  .room-column {
    text-align: left;
    padding-left: 6%;
  }

  .booking {
    width: 45%;
    font-size: 25px;
    margin: 2%;
  }

  .booking-form {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 40%;
  }

  .stay{
    font-size: 25px;
    align-self: center;
  }

  .input > * {
    font-size: 20px
  }

  fieldset {
    legend {
      font-size: 20px;
    }
    .input > * {
      font-size: 18px;
    }
  }

  input[type=radio] + label:before {
    height: 15px;
    width: 15px;
  }

  .filter-button {
    font-size: 25px;
  }

  .spending {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 90px;
    width: 50%;
  }

  .book-a-room {
    width: 30%;
    height: 50%;
    border-radius: 10px;
    font-size: 3vw;
    @include boxStandard(5px);
  }

  .book-button {
    width: 60%;
  }

  .confirmation {
    .greeting {
      width: 95%;
      text-align: center;
      padding: 10px;
    }
  }

}
