

* {
  font-family: $font;
}

body {
  background: $brown;
  height: 100%;
  scroll-padding-bottom: 12%;
}

header {
  width: 100%;
  height: 26%;
}

main {
  padding-bottom: 26%;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0;
  height:12%;
  @include centerFlex(space-around);
  color: $pink;
  background: center / cover url("../images/hotel-pattern.jpg");
  .book-a-room {
    width: 33%;
    height: 50%;
    border-radius: 10px;
    font-size: 3vw;
    padding: 0px;
    @include boxStandard(5px);
  }
}

/*HEADER*/

.title{
  box-sizing: border-box;
  display: grid;
  grid-template:
    "welcome" 34%
    "overlook" 34%
    "hotel" 34%
    /100%;
  height: 60%;
  width: 100%;
  justify-items: center;
  background-color: $brown;
  background: center / cover url("../images/hotel-pattern.jpg");
}

.overlook{
  align-self: center;
  @include hexFont(2.5em);
  grid-area: overlook;
  margin:0;
}

.welcome{
  grid-area: welcome;
  justify-self: flex-start;
  margin: 10px 0 10px 9%;
  @include hexFont(1.5em);
}

.hotel{
  grid-area: hotel;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px 10% 10px 0;
  @include hexFont(1.5em);
}

.sub-header {
  @include centerFlex(center);
  flex-direction: column-reverse;
  position: sticky;
  position: -webkit-sticky;
  top: -1px;
}

.greeting {
  text-align: center;
  font-size: 1.5em;
  color: $pink;
  background-color: $brown;
  margin: 0;
  border: 1px solid $brown;
  padding: 5px 0px 5px 0px;
  width: 100%;
}

/*MAIN*/


.bookings {
  display:flex;
  flex-direction: column;
  margin: 5%;
}

.booking {
  font-size: 3.75vw;
  margin: 5%;
  padding-left: 10px;
  color: $brown;
  @include boxStandard(5px);
  border-radius: 10px;
}

.log-in {
  @extend .booking;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35%;
  width: 65%;
  margin:0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .book-a-room {
    width: 50%;
    height: 25%;
    border-radius: 10px;
    font-size: 6vw;
    margin-top: 25px;
    @include boxStandard(5px);
  }
}


.error {
  font-size: 1em;
  text-align: center;
}

/*BOOKING FORM*/

.book-button {
  width: 75%;
}

.book-button:focus {
  border-color: $green;
}

.booking-form {
  position: sticky;
  top: 4.75em;
  height: 55%;
  margin: 0 2.5% 0 2.5%;
  @include boxStandard(7px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
}

.stay{
  font-size: 4.75vw;
  align-self: center;
  width: 100%;
  margin: 0 20px 0 20px;
  text-align: center;
}

#roomType {
  width: 100%;
}

.input > * {
  font-size: 3.75vw;
}

.date {
  width: 100%;
  margin: 15px;
  align-self: center;
  text-align: center;
}

.room-features {
  grid-template:
    "roomType bidet" 1fr
    "numberBeds bidet" 1fr
    "filter bidet" 1fr
    /50% 50%;
  width: 100%;
  display:grid;
  justify-items: flex-start;
  align-items: self-end;
}

.room-type {
  grid-area: roomType;
}

.bed-num {
  grid-area: numberBeds;
}

fieldset {
  legend {
    font-size: 3.75vw;
  }
  grid-area: bidet;
  height: 100%;
  border-color: $red;
  border-style: solid;
  padding: 5.6px 12px 5.6px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

fieldset:focus-within {
  border-color: $orange;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
}

input[type=radio] + label:before {
  height: .75em;
  width: .75em;
  margin: 3px 10px 3px 10px;
  content: " ";
  display: inline-block;
  vertical-align: baseline;
  border: 5px solid $red;
}

input[type=radio]:checked + label:before {
  background: $green;
}

.num-beds {
  width: 20%;
  border: $orange;
}

.filter-button {
  width: 80%;
  height: 80%;
  border-radius: 10px;
  font-size: 1.25em;
  @include boxStandard(5px);
}

.confirmation {
  @include centerFlex(space-around);
  width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  .greeting {
    border: 5px solid $orange;
    border-radius: 10px;
  }
}

.return {
  @extend .booking;
  width: 50%;
  height: 10%;
  font-size: 5vw;
}


/*FOOTER*/

.spending {
  @include centerFlex(space-around);
  width: 50%;
}

.total-spending {
  height: 100%;
  @include hexFont(1.25em);
}
.user-spending {
  height: 100%;
  @include hexFont(1.75em);
}
